<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Exam</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static '/css/css.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}



.menu {
  display: none;
}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">Uyga</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">Haqida</a>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block w3-black">Menu</a>
    </div>
    <div class="w3-col s3">
      <a href="#where" class="w3-button w3-block w3-black">Qayerda</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag"></span>
  </div>
  <div class="w3-display-middle w3-center">
   
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <img src="{% static '/images/matic2.jpg' %}" class="w3-image" style="width:500%">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">MATEMATIKA TESTLAR</span></h5>
    
    {% for variant in testlar %}
    <p class="answer_title">{{variant.savol}}</p>
    
    <li><label><input type="radio" value="A" name="neg0" /> {{variant.variantA}}</label></li> 

    <li><label><input type="radio" value="A" name="neg0" /> {{variant.variantB}}</label></li> 

    <li><label><input type="radio" value="A" name="neg0" /> {{variant.variantC}}</label></li> 

    <li><label><input type="radio" value="A" name="neg0" /> {{variant.variantD}}</label></li> 
    
    {% endfor %}


<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">TEST JAVOBINI YUBORISH</span></h5>
    <p>Ma'lumotlarni to'ldiring.</p>
    
  
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Ismingizni kiriting" required name="Ismingizni kiriting"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required name="date" value="2023-12-04T20:30"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Habar \ Qoldiring" required name="Message"></p>
      <p><button class="w3-button w3-black" type="submit">Yuboring</button></p>
    </form>
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Powered by <a href=https://najottalim.uz/ title="Najod Ta'lim" target="_blank" class="w3-hover-text-green">Najod Ta'lim</a></p>
</footer>



</body>
</html>
